html, body, #root{
  height:100%;
}
.appContainer{
  height:100%;
  display:flex;  
  justify-content: center;
  align-items: center;
}
.content{
  display:flex;
  flex-direction: row;
  background-color: lightblue;
  height:95vh;
  width:95vw;
}
.historyContainer{
  background-color:aquamarine;
  flex: 1;
}
.chatContainer{
  background-color: aqua;
  flex:3;

}
.convoContainer{
  display:flex;
  align-items:center;
  padding-top:25px;
  padding-left:25px;
  flex-direction: row;
  gap:12px;
  img{
    max-width:50px;
    flex: 1;
  }
  span{
    flex: 4;
  }
}

.hrHistory{
  border-top: 1px solid #ffffff;
  margin-left:20px;
  margin-right:20px;
}